.link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s;
    height: 100%;
}

.link:hover {
    background-color: #22272E;
}

.icon {
    display: block;
}
